<div class='sticky-notes'>
	
	<%= form_for @note, url: {action: "create"} do |f| %>
		<%= f.text_area :body, class: 'notes-box' %>
		<%= f.submit html: {id:'new-note'} %>
	<% end %>

	<% note_num = 1 %>

	<% @sorted_notes.each do |note| %>

		<div class='notes'>
			<%= link_to image_tag('red-x.png'), note_path(note), class: 'delete-note', method: :delete %>

			<div contenteditable="true" id=<%="#{note.id}"%> >				
				<%= note.body %>
			</div>

		</div>

		<% note_num += 1 %>

	<% end %>
</div>