<div class='sticky-notes'>
	
	<%= form_for @note, url: {action: "create"} do |f| %>
		<%= f.text_area :body, class: 'sticky-notes' %>
		<%= f.submit html: {id:'new-note'} %>
	<% end %>

	<% note_num = 1 %>

	<% @notes.each do |note| %>

		<div contenteditable="true" id=<%="#{note.id}"%> class='notes'>
			
			<%= link_to image_tag('red-x.png'), note_path(note), class: 'delete-note', method: :delete %>
			
			<%= note.body.html_safe %>

		</div>

		<% note_num += 1 %>

	<% end %>
</div>