<% @articles.each do |article| %>	
		
	<p> <%=link_to 'Read Full Article', article_path(article) %> </p>	
	<p> <%= article.first_three_lines %> </p>
	
	<% if user_signed_in? %>
		<p id="review_form">
			<span>Leave a review</span>
 				
 				<%= form_for @new_review, url: reviews_path do |f| %>
					<textarea name='review'></textarea>					
					
					<select name="rating">
						<% x=1 %>
						<% 10.times do %>
							<option value=<%= x %>><%= x %></option>
							<% x+=1 %>
						<% end %>
					</select>
					
					<input type="hidden" name="article_id" value=<%=article.id%>>
					<input type="submit" value="Submit">
				<% end %>

			</p>
		<% end %>
	
	<p>
		<% @reviews.each do |review| %>
			<% if review.article_id == article.id %>
				<%= review.rating %>
				<%= review.review %>
			<% end %>
		<% end %>
	</p>

<% end %>

<% if user_signed_in? %>
	<%= link_to 'New Article', new_article_path %>
<% end %>