<!DOCTYPE html>
<html>
  <head>
    <title>StoryTime</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Reenie+Beanie">
    <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Poiret+One">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='nav'>
      <ul>
        <li class='left'><%= link_to "Home", root_path %></li>
        <li class='left'><%= link_to "Articles", articles_path %></li>
        <% if user_signed_in? %>
          <li class='left'><%= link_to "Notes", notes_path %></li>
          <li class='left'><%= link_to "News", news_path %></li>
          <li class='right'><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class='right'><%= link_to "Sign up", new_user_registration_path %></li>
          <li class='right'><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
      </ul>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
